BR2_TOOLCHAIN_BUILDROOT_GLIBC=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_GCC_VERSION_4_9_X=y
BR2_TARGET_GENERIC_HOSTNAME="knot"
BR2_TARGET_GENERIC_ISSUE="Welcome to KNoT Gateway"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_TARGET_GENERIC_GETTY_PORT="tty1"
BR2_ROOTFS_OVERLAY="board/raspberrypi2/rootfs_overlay"
BR2_ROOTFS_POST_IMAGE_SCRIPT="board/raspberrypi3/post-image-knot.sh board/raspberrypi3/post-image.sh"
BR2_ROOTFS_POST_SCRIPT_ARGS="--add-pi3-miniuart-bt-overlay --add-spi0-cs --add-spi1-2cs --add-at86rf233-spi1-overlay"
BR2_LINUX_KERNEL_VERSION="custom"
BR2_LINUX_KERNEL_CONFIG_FRAGMENT_FILES="board/raspberrypi/knot_linux_defconfig"
BR2_LINUX_KERNEL_CUSTOM_TARBALL=y
BR2_LINUX_KERNEL_CUSTOM_TARBALL_LOCATION="https://github.com/raspberrypi/linux/archive/raspberrypi-kernel_1.20170811-1.tar.gz"
BR2_PACKAGE_GETTEXT=y
BR2_PACKAGE_SPI_TOOLS=y
BR2_PACKAGE_NODEJS=y
BR2_PACKAGE_NODEJS_NPM=y
BR2_PACKAGE_MONGODB=y
BR2_PACKAGE_CURL=y
BR2_PACKAGE_LIBWEBSOCKETS=y
BR2_PACKAGE_AVAHI=y
BR2_PACKAGE_AVAHI_DAEMON=y
BR2_PACKAGE_AVAHI_LIBDNSSD_COMPATIBILITY=y
BR2_PACKAGE_LIGHTTPD=y
BR2_PACKAGE_LIGHTTPD_OPENSSL=y
BR2_PACKAGE_NTP=y
BR2_PACKAGE_NETCAT=y
BR2_PACKAGE_OPENSSH=y
BR2_PACKAGE_KNOT_PROTOCOL_LIB=y
BR2_PACKAGE_KNOT_HAL_DRIVER=y
BR2_PACKAGE_KNOT_SERVICE_APP=y
BR2_PACKAGE_KNOT_WEB=y
BR2_PACKAGE_KNOT_FOG=y
BR2_PACKAGE_LOGROTATE=y
BR2_PACKAGE_LORA_GATEWAY=y
BR2_PACKAGE_LORA_PKT_FORWARDER=y
BR2_PACKAGE_LIBNFC=y
BR2_PACKAGE_RFKILL=y
BR2_PACKAGE_VALGRIND=y
BR2_PACKAGE_STRACE=y
BR2_PACKAGE_LTRACE=y
BR2_PACKAGE_GIT=y
BR2_PACKAGE_CONNMAN=y
BR2_PACKAGE_BINUTILS=y
BR2_PACKAGE_BINUTILS_TARGET=y
BR2_PACKAGE_NEARD=y
BR2_PACKAGE_LIBTOOL=y
BR2_PACKAGE_ZLIB=y
BR2_PACKAGE_OPENSSL=y
BR2_PACKAGE_OPENSSL_BIN=y
BR2_PACKAGE_OPENSSL_ENGINES=y
BR2_PACKAGE_LIBNL=y
BR2_PACKAGE_LIBNL_TOOLS=y
BR2_PACKAGE_IPTABLES=y
BR2_PACKAGE_IPTABLES_BPF_NFSYNPROXY=y
BR2_PACKAGE_IPUTILS=y
BR2_PACKAGE_WPAN_TOOLS=y
BR2_PACKAGE_LIBELL=y
BR2_PACKAGE_IWPAND=y
